@use "../../../presets" as *;
@use "../../../mixins" as *;

$local-gap: calc(40px / 3);

.skills {
  padding: $gap-sm;

  &__container {
    display: grid;
    gap: $gap-sm;
    margin-bottom: 20px;

    @media (min-width: $lg) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
    }

    @media (max-width: $lg - 0.2px) and (min-width: $md) {
      grid-template-areas: "a1 a1 a2" "a3 a4 a4" "a5 a5 a6" "a7 a8 a6" "a7 a9 a9";
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $md - 0.2px) and (min-width: $sm) {
      grid-template-areas: "a1 a2" "a3 a2" "a4 a4" "a5 a6" "a5 a7" "a8 a9";
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $sm - 0.2px) {
      grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8" "a9";
      grid-template-columns: 1fr;
    }

    @media (min-height: 691px) {
      grid-auto-rows: calc(33.3333vh - #{$local-gap});
    }

    @media (max-height: 690px) {
      grid-auto-rows: calc(230px - #{$local-gap});
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin-bottom: $gap-lg;
  }
}
