@use "../../../presets" as *;
@use "../../../mixins" as *;

.skill-item {
  position: relative;

  &__title {
    margin: 0;
    z-index: 1;

    letter-spacing: 0.1em;

    @media (min-width: $md) {
      font-size: 1.25rem;
    }
    @media (max-width: $md - 0.2px) {
      font-size: 1.125rem;
    }

    @include abs-position;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $gap;
    height: 100%;
  }

  &__image {
    background-color: $color-primary;
    background-position: 50% 50%;
    background-size: cover;

    @include abs-position;
  }

  &__overlay {
    opacity: 0.8;
    background-color: $color-primary;
    @include abs-position;
  }
}

@for $i from 1 through 9 {
  .skill-item:nth-of-type(#{$i}) {
    grid-area: a#{$i};
  }
}
